body {
    
    font: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, red , yellow); /* Standard syntax */
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}
.color1 , .color2{
    width: 80px;
    height: 30px; 
}

button{
  
    cursor:pointer;
    border-radius: 3em;
    outline: none;
    width: 120px;
    height: 50px;
    color:white;
    background-color: rgba(29, 27, 27,0.5);
    border:2px solid white;
}
